/* UserProfile.css */
.UserProfile {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
}

.logo .vertical-line {
  width: 20px;
  height: 35px;
  margin: 0 0px;
}

.navbar .company-name {
  margin-right: 10px;
}

.navbar .nav-button {
  padding: 8px 16px;
  background-color: #fcc33e;
  color: black;
  border: none;
  border-radius: 5px;
}

.background {
  position: relative;
  background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}


.profile {
  position: absolute;
  bottom: -113px;
  left: 123px;
  display: flex;
  align-items: flex-end;
  color: #fff;
  padding: 6px;
  padding-left: 1rem;
}

.profile-picture {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=626&ext=jpg");
  background-size: cover;
  background-position: center;
  /* margin-right: 20px; */
  margin-left: 1.5rem;
  margin-top: 270px;
  
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: black;
}

.name-icon{
  display: flex;
  justify-content: space-between;
  width: 172px;
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.avatar-logo{
  height: 15px;
  width: 15px;
  margin-top: 9px;
}

.gem{
  border-radius: 50%;
  filter: invert(100%);
  background-color: #C2DF9E;
}

.followers-followings {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #959292;
}

.followers-button,
.followings-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

.count {
  padding: 2px 12px;
    background: transparent;
    border: 2px solid #959292;
    color: #959292;
    font-weight: bold;
    border-radius: 9px;
    margin-right: -6px;
    font-size: 1.3rem;
    width: 5rem;
    cursor: pointer;
}

.text {
  font-size: 14px;
  margin-top: 5px;
}

.interaction{
 position: absolute;
 margin-top: 26.5rem;
margin-left: 3rem;
text-align: left;
}

.bio {
  margin-bottom: 10px;
}

.bio1{
  font-size: 1rem;
}

.bio2{
  font-size: 0.8rem;
  color: #45bbd3;
  cursor: pointer;
}

.interaction-buttons {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  width: 17rem;
}


.star-button,
.thumbs-up-button,
.eye-button,
.heart-button {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1rem;
  /* height: 1rem; */
  /* transition: background-color 0.2s ease-in-out; */
}

.star-button{
  background-color: #5EB5C4;
}

.thumbs-up-button{
  background-color: #E2B132;
}

.eye-button{
  background-color: #828282;
}

.heart-button{
  background-color: #C6265C;
}


.button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.icon {
  font-size: 24px;
  width: 0.9rem;
  height: 0.9rem;
}

.thumbs-up-icon {
  padding: 8px 16px;
  background-color: #E2B132;
  color: white;
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1rem;
}


.posts-section {
  flex-wrap: wrap;
  text-align: left;
  color: black;
  margin-top: 280px; 
}

.post-count {
  padding: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 3px solid white;
    padding-bottom: 7px;
}

.post {
  padding: 2rem;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin-top: 2.5rem;
}

.post-top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.topic {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}

.content {
  margin-bottom: 10px;
}

.author-info {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.author-name {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.post-details {
  display: flex;
  width: fit-content;
}

.date,
.read-time,
.views {
  font-size: 14px;
  margin-right: 10px;
}

.dot{
  margin-left: 5px;
}

@media only screen and (max-width:500px) {
  .background{
    height: 150px;
  }
  .profile-picture{
    margin-left: 1rem;
    margin-top: 130px;
    height: 70px;
    width: 70px;
  }
  .profile{
    margin-bottom: 5px;
    margin-left: -38px;
  }
  .interaction{
    margin-top: 260px;
    margin-left: 24px;
  }
  .count{
    width: 62px;
    font-size: 1rem;
  }
  .star-button,
  .thumbs-up-button,
  .eye-button,
  .heart-button{
    width: 1rem;
    height: 1rem;
    padding: 11px;
  }
  .interaction-buttons{
    width:  12.5rem;
    margin-top: 2.5rem;
  }
  .name{
    font-size: 1.2rem;
  }
  .bio1{
    font-size: 0.8rem;
  }
  .bio2{
    font-size: 0.7rem;
  }
  .content{
    font-size: 0.8rem;
  }
  .author-name{
    font-size: 0.5rem;

  }
  .date{
    font-size: 0.5rem;
    margin-right: 0;
  }
  .read-time{
    font-size: 0.5rem;
    margin-right: 0;
  }
  .views{
    font-size: 0.5rem;
    margin-right: 0;
  }
  .dot{
    margin-right: 5px;
  }
}